<a href="https://colab.research.google.com/github/LayzonB/-lab-discrete-probability-distribution-/blob/master/KATA_FOLIUM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **UFO Question**

Our data science team has predicted that the Earth is going to be invaded by an alien force in the next years. Our only hope is to replicate a device that can block all alien technology in a radius of ~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and we don't know how contact her again. We know that the device has been active since 2004 in one city in the USA, and we want to know where to start our search. We've loaded a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in which the device has been hidden.

In [ ]:
#imports
import pandas as pd
import numpy as np
import folium

In [ ]:
#import data
data = pd.read_csv("https://raw.githubusercontent.com/ironhack-datalabs/datamex1019/master/module-2/lab-ufo/ufo.csv", index_col="Unnamed: 0")
data.head()

           datetime                  city state  ...   longitude  year     distance
0  10/10/1949 20:30            san marcos    tx  ...  -97.941111  2004  1242.667772
1  10/10/1949 21:00          lackland afb    tx  ...  -98.581082  2005  1325.486319
2  10/10/1955 17:00  chester (uk/england)   NaN  ...   -2.916667  2008  6515.416577
3  10/10/1956 21:00                  edna    tx  ...  -96.645833  2004  1211.971352
4  10/10/1960 20:00               kaneohe    hi  ... -157.803611  2004  6960.923396

[5 rows x 13 columns]

In [ ]:
#Select data (filter)

In [ ]:
#Find the city